<h1>Annoucements</h1>

<table class="table table-bordered table-striped" id='mysport'>
  <thead class="table-dark">
    <tr>
      <th>Message</th>
      <th>Game</th>
      <th>Button</th>
    </tr>
  </thead>
    <tbody>
    <% @annoucements.each do |annoucement| %>
      <tr>
        <td><%= annoucement.message %></td>
        <td><%= annoucement.sport.sport_name %></td>
        <td><%= link_to 'Show', [@sport,annoucement], class:"btn btn-light" %>
        <%= link_to 'Edit', edit_sport_annoucement_path(@sport, annoucement), class:"btn btn-light" %>
        <%= link_to 'Destroy', [@sport, annoucement], class:"btn btn-light", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>

</table>

<br>

<%= link_to 'New Annoucement', new_sport_annoucement_path(@sport), class:"btn btn-secondary" %>