<p id="notice"><%= notice %></p>

<h1>Sports</h1>

<table class="table table-bordered table-striped" id='mysport'>
  <thead class="table-dark">
    <tr>
      <th>Sport name</th>
      <th>Total player</th>
      <th>Button</th>
    </tr>
  </thead>

  <tbody>
    <% @sports.each do |sport| %>
      <tr>
        <td><%= sport.sport_name %></td>
        <td><%= sport.total_player %></td>
        <td><%= link_to 'Show', sport, class:"btn btn-light" %>
        <% if current_user && current_user.admin? %>
          <%= link_to 'Edit', edit_sport_path(sport), class:"btn btn-light" %>
          <%= link_to 'Destroy', sport, class:"btn btn-light", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>
<% if current_user && current_user.admin? %>
  <%= link_to 'New Sport', new_sport_path, class:"btn btn-secondary" %>
<% end %>
