<p id="notice"><%= notice %></p>

<h2>players</h2>
<% for player in @sport.players %>
    <ul>
      <li><%= player.player_name %></li>
  </ul>
<% end %>
<h2>Posts</h2>
<% for post in @sport.posts %>
    <ul>
      <li><%= post.title %></li>
  </ul>
<% end %>
<h2>Annoucements</h2>
<% for annoucement in @sport.annoucements %>
    <ul>
      <li><%= annoucement.message %></li>
  </ul>
<% end %>

<%= link_to 'Edit', edit_sport_path(@sport), class:"btn btn-secondary" %> |
<%= link_to 'Add Player', sport_players_path(@sport), class:"btn btn-secondary" %> 
<%= link_to 'Add Post', sport_posts_path(@sport), class:"btn btn-secondary" %> |
<%= link_to 'Add Announcement', sport_annoucements_path(@sport), class:"btn btn-secondary" %> |
<%= link_to 'Back', sports_path, class:"btn btn-secondary" %>
