<%= form_with(model: offer, local: true) do |form| %>
  <% if offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

      <ul>
      <% offer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :business %>
    <%= form.collection_select(:business_id, Business.all, :id, :name, { :prompt => 'Select a Business', :selected => @offer.business_id },{class: "form-control",placeholder: "Title"}) %>
  </div>
  <br>

  <div class="field form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control",placeholder: "Title" %>
  </div>
 <br>
  
  <div class="field form-group">
    <%= form.label :description %>
    <%= form.text_field :description, class: "form-control",placeholder: "Description" %>
  </div>
  <br>
  
  <div class="field form-group">
    <%= form.label :start_date %>
    <%= form.datetime_field :start_date, class: "form-control",placeholder: "Start Date" %>
  </div>
  <br>
  <div class="field form-group">
    <%= form.label :end_date %>
    <%= form.datetime_field :end_date, class: "form-control",placeholder: "End Date" %>
  </div>
  <br>
  </br>
  <div class="actions">
    <%= form.submit class:"btn btn-dark"%>
  </div>
<% end %>