<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table class="table table-bordered" id='post'>
  <thead class="table-dark">
    <tr>
      <th>Image</th>
      <th>PlayerName</th>
      <th>SportName</th>
      <th>Title</th>
      <th>Description</th>
      <th>Button</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><img src="<%= post.image %>" class= "player-show"></td>
        <td><%= post.PlayerName %></td>
        <td><%= post.sport.sport_name %></td>
        <td><%= post.title %></td>
        <td><%= post.description %></td>
        <td><%= link_to 'Show', [@sport,post], class:"btn btn-light" %>
          <%= link_to 'Edit', edit_sport_post_path(@sport, post), class:"btn btn-light" %>
          <%= link_to 'Destroy', [@sport, post], method: :delete, data: { confirm: 'Are you sure?' } , class:"btn btn-light"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_sport_post_path(@sport), class:"btn btn-secondary" %>
