<p id="notice"><%= notice %></p>
<img src="<%= @post.image %>" class= "player-show">

<p>
  <strong>PlayerName:</strong>
  <%= @post.PlayerName %>
</p>

<p>
  <strong>SportName:</strong>
  <%= @post.sport.sport_name%>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>
<h2>Comments</h2>
<% for comment in @post.comments %>
    <ul>
      <li><%= comment.comment %></li>
  </ul>
<% end %>
<p>
  <strong>tag:</strong>
  <%= render partial: "hashtags/form", locals: {tagable: @post} %>
</p>
<%= link_to 'Edit', edit_sport_post_path(@sport, @post), class:"btn btn-secondary" %> |
<%= link_to 'Add Comment',new_sport_post_comment_path(@sport,@post), class:"btn btn-dark" %>
<%= link_to 'Back', sport_posts_path(@sport), class:"btn btn-secondary" %>
