<!DOCTYPE html>
<html>
  <head>
    <title>Demo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
</html>
<body class="sb-nav-fixed">
  <%# header partial %>
  <%= render 'shared/header'%>
  <div id="layoutSidenav">
    <div id="layoutSidenav_nav">
      <%# left nevigation partial %>
      <%= render 'shared/left_nevigation'%>
    </div>
    <div id="layoutSidenav_content">
        <%= yield %>
        <%# footer partial %>
        <%= render 'shared/footer'%>
    </div>
  </div>
</body>